.display-view{
    // display: block !important;
    animation: fadeIn 1s linear 1 forwards;
}
.display-none {
  
    animation: fadeOut 1s linear 1 forwards;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.services-section{
    display: grid;
    grid-template-columns: 4fr 6fr !important;
    background-color: #f4f4f4;
    z-index: -1;
    box-sizing: border-box;
    overflow: hidden;

    .content-section{
            padding-top: 60px;
            padding-left: 70px;
        h1{
            font-weight: 400;
            font-size: 40px;
            background: linear-gradient(270.15deg, #25136D -3.33%, #5F60DA 118.77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;


        }
        p{
            width: 80%;
            font-size: 17px;
            font-weight: 400;
            color: #767474;
            padding-top: 20px;
        }

    }

    .services-image-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 1117px;
        justify-content: end;
        

        .service-col-1,.service-col-3{
            img{
                // width:380px;
            }
        }
        .service-col{
            position: relative;

            h2{
                transition: all .15s ease-in;
                font-weight: 400 !important;
            }
            h2:hover{
                transform: scale(1.03); 
            }
            p{
                color:#f4f4f4 !important;
                position: absolute;
              
                top: 14%;
                font-size: 12px;
                width: 80%;
                padding: 20px ;
                transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
            }
            
            .bottom-btn{
                position: absolute;
                bottom: 17px;
                left: 36px;
                color: aliceblue;
                align-items: center;
                font-size: 30px;

                span{
                    position: relative;
                    margin-right: 40px;
                    .arrow-left{
                       top:5px;
                        position: absolute
                    }
                };
            }
            .top-btn{
                position: absolute;
                top: 30px;
                left: 44px;
                color: aliceblue;
                align-items: center;
                font-size: 30px;

                span{
                    position: relative;
                    margin-right: 40px;
                    .arrow-left{
                       top:5px;
                        position: absolute
                    }
                };
            }
            
        }

        .service-col-2{
            margin-left:5.3px;
            margin-right:5.3px;
            .row-1{
               padding-bottom: 5px;
                
            }
        }

    }

}

@media screen and (max-width: 1290px) {
   
    .content-section{
        width: 300px !important;
    }

    .services-section{
       height: 780px !important;
       img{
        width: 100% !important;
        }
       .services-image-section{
        .bottom-btn{
            font-size: 20px !important;
        }
        .top-btn{
            font-size: 20px !important;
        }
       } 
 
    }
    
}

@media screen and (max-width: 890px) {

    .content-section{
        h1{
            font-size: 32px !important;
            width: 90% !important;
        }
        p{
            font-size: 12px !important;
        }
    }
    
    .services-section{
        height: 450px !important;
        img{
         width: 100% !important;
         }
        .services-image-section{
        .service-col{
            h2{
                font-size: 12px !important;
                span{
                    margin-right: 22px !important;
                    .arrow-left{
                        top: 3px !important;
                    }
                }
            }
            
        }
         .bottom-btn{
             font-size: 14px !important;
         }
         .top-btn{
             font-size: 14px !important;
             left: 20px !important;
           
         }
        } 
  
     }
}

@media screen and (max-width: 770px){

    .content-section{
        h1{
            font-size: 28px !important;
            width: 90% !important;
        }
        p{
            font-size: 12px !important;
        }
    }
    .services-section{
        height: 390px !important;

        .services-image-section{
            .service-col .bottom-btn {
                left: 20px !important;
            }
        } 
    }

}

@media screen and (max-width: 490px) {
   
    // .content-section{
    //     width: 300px !important;
    // }

    // .services-section{
    //    height: 780px !important;
    //    img{
    //     width: 100% !important;
    //     }
    //    .services-image-section{
    //     .bottom-btn{
    //         font-size: 20px !important;
    //     }
    //     .top-btn{
    //         font-size: 20px !important;
    //     }
    //    } 
 
    // }
    .services-section{
        height: auto !important;
        display: block !important;

        .content-section{
            padding-bottom: 80px !important;
        }
        .services-image-section{
            display: block !important;
            height: auto !important;
            padding: 0 2px  !important;
            .service-col-1, .service-col-3{
                img{
                    height: 700px;
                }
            }
            .service-col-2{
                margin: 0% !important;

                .row-1{
                    padding-bottom: 0px !important;
                }
            }
        }
    }
    
}