<<<<<<< HEAD
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navigation {
  height: 160px;
  //    background-image: url('./../../Assets/Hero\ Section.png');
  //    background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 25px 65px;
  position: relative;
  //   .logo-container {
  //     img {
  //       width: 320px;
  //       margin-left: 65px;
  //       margin-top: 25px;
  //     }
  //   }

  .nav-links-hide {
    right: 0;
    transition: 0.7s ease-out;
  }

  .nav-links-display {
    right: 20px;
    transition: 0.7s ease-out;
  }
  .nav-link-dnone {
    display: none;
    // transition: all 1s;
  }
  .nav-link-dinline {
    display: inline;
    // transition: all 1s;
  }

  .nav-links-container {
    position: absolute;

    margin-right: 113px;
    margin-top: 70px;
    // transition: all 1s;

    .nav-link {
      padding-right: 40px;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
      // transition: all 1s;
    }

    .icon-link {
      padding-right: 40px;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
      // transition: all 1s;
    }
    .navlink-check-wrap {
      position: relative;
      padding-top: 5px !important;
      opacity: 100% !important;
      .navlink-check {
        position: absolute;
        font-size: 30px !important;
        padding-right: 70px 
        !important;
        
      }
    }
  }
}

.m-nav-container {
  display: none;
  position: absolute;
  right: 6%;
  top: 10px;
  padding: 24px;
  padding-top: 42px;
  
  
    
  .m-nav-links {
    // animation: fadeIn .5s linear 1 forwards;
    display: flex;
    flex-direction: column;
    text-align: right;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #EAEAEA, #DBDBDB, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 55px !important;
    border-radius: 5px;
    .m-nav-link {
      padding: 16px 0;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
    }
  }
}

.m-nav-link-hide {
  // animation: fadeOut 2s linear 1 forwards;
  display: none !important;
  
}

.m-nav-show-style {
  border: 1px solid black;
  border-radius: 16px;
}
@media screen and (max-width: 1290px) {
  .navigation {
    .nav-link {
      font-size: 17px !important;
    }
    .nav-links-container {
      margin-top: 50px;
    }
    
   
  }
}
@media screen and (max-width: 980px) {
  .nav-links-container {
    display: none !important;
  }
  .m-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
}

@media screen and (max-width: 490px) {
  .navigation{
    padding-left: 20px !important;
    height: auto !important;
  }
  .logo-container {
    img {
      width: 210px;
      

    }
  }
}
=======
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navigation {
  height: 160px;
  //    background-image: url('./../../Assets/Hero\ Section.png');
  //    background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 25px 65px;
  position: relative;
  //   .logo-container {
  //     img {
  //       width: 320px;
  //       margin-left: 65px;
  //       margin-top: 25px;
  //     }
  //   }

  .nav-links-hide {
    right: 0;
  }

  .nav-links-display {
    right: -40px;
  }
  .nav-link-dnone {
    display: none;
    transition: all 1s;
  }
  .nav-link-dinline {
    display: inline;
    transition: all 1s;
  }

  .nav-links-container {
    position: absolute;

    margin-right: 113px;
    margin-top: 70px;
    transition: all 1s;

    .nav-link {
      padding-right: 40px;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
      transition: all 1s;
    }

    .icon-link {
      padding-right: 40px;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
      transition: all 1s;
    }
    .navlink-check-wrap {
      position: relative;
      padding-top: 5px !important;
      opacity: 100% !important;
      .navlink-check {
        position: absolute;
        font-size: 30px !important;
        padding-right: 70px 
        !important;
        
      }
    }
  }
}

.m-nav-container {
  display: none;
  position: absolute;
  right: 6%;
  top: 10px;
  padding: 24px;
  padding-top: 42px;
  
  
    
  .m-nav-links {
    animation: fadeIn .5s linear 1 forwards;
    display: flex;
    flex-direction: column;
    text-align: right;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #EAEAEA, #DBDBDB, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 55px !important;
    border-radius: 5px;
    .m-nav-link {
      padding: 16px 0;
      font-size: 24px;
      font-weight: 400;
      color: #848484;
    }
  }
}

.m-nav-link-hide {
  animation: fadeOut 2s linear 1 forwards;
  display: none !important;
  
}

.m-nav-show-style {
  border: 1px solid black;
  border-radius: 16px;
}
@media screen and (max-width: 1290px) {
  .navigation {
    .nav-link {
      font-size: 17px !important;
    }
    .nav-links-container {
      margin-top: 50px;
    }
    
   
  }
}
@media screen and (max-width: 980px) {
  .nav-links-container {
    display: none !important;
  }
  .m-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
}

@media screen and (max-width: 490px) {
  .navigation{
    padding-left: 20px !important;
    height: auto !important;
  }
  .logo-container {
    img {
      width: 210px;
      

    }
  }
}
>>>>>>> 1ba06054eaa345100f9c3a0514b36893de6711bf
