<<<<<<< HEAD
.contact-container{
    background-image: url('./../../Assets/cta-backdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 90px;
    .container-header{
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        background: linear-gradient(270.15deg, #25136D -3.33%, #5F60DA 118.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .content-box{
      
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left-div{
            background: rgba(200, 199, 199, 0.3);
            padding-left: 38px;

            h1{
                font-size: 56px;
                font-weight: 400;
                color: #a07f6d;
            }
            .hq{
                margin-bottom: 100px;
                h3{
                    font-size: 33px;
                    font-weight: 400;

                }
                p{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            .local{
                display: grid;
                grid-template-columns: 3fr 4fr;
                h3{
                    font-size: 33px;
                    font-weight: 400;

                }
                p{
                    font-size: 22px;
                    margin-right: 10px;
                }
                .map{
                    justify-content: end;
                    text-align: end;
                    p{
                        margin: 0%;
                    }
                }
                img{
                    height: 336px;
                }
            }

        }
        .right-div{
            background: rgba(200, 199, 199, 0.3) fixed;
            height: 403px;
      

            margin-left: 40px;
            h1{
                font-weight: 400;
                font-size: 56px;
                text-align: left;
                padding-left: 38px;
                color: #a07f6d !important;
            }
            .pitchbtn{
                text-align: center;  
            }
            button{
                
                   
	            border-radius: 10px;
	            color: #272424a8;
                padding: 1px;
                font-size: 20px;
                border:3px solid transparent;
                width: 250px;
                height: 70px;
                background:  linear-gradient(#ecedec, #ecedecf9) padding-box fixed, 
                linear-gradient(45deg, #ba9e8e 0%, #f3c9ad 100%) border-box;
           
            }
            
        }
    }
}

@media screen and (max-width: 890px){
    .contact-container{ 
        padding: 50px 20px !important;

        .container-header{
     
        }
        .content-box{
            display: block !important;
            .left-div{
                padding-top: 40px;
                .local{
                    // display: block !important;
                    .map{
                        text-align: end !important;
                    }
                }
            
            }
            .right-div{
                margin-left: 0% !important;
            }
        }
    }   
}

@media screen and (max-width: 490px){
    .contact-container{ 
        padding: 50px 20px !important;

        .container-header{
     
        }
        .content-box{
            display: block !important;
            .left-div{
                padding-top: 40px;
                .local{
                    display: block !important;
                    .map{
                        text-align: left !important;
                        .map-frame{
                            width: 80% !important;
                            height: 300px !important;
                        }
                    }
                }
            
            }
            .right-div{
                margin-left: 0% !important;
            }
        }
    }   
=======
.contact-container{
    background-image: url('./../../Assets/cta-backdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 90px;
    .container-header{
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        background: linear-gradient(270.15deg, #25136D -3.33%, #5F60DA 118.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .content-box{
      
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left-div{
            background: rgba(200, 199, 199, 0.3);
            padding-left: 38px;

            h1{
                font-size: 56px;
                font-weight: 400;
                color: #a07f6d;
            }
            .hq{
                margin-bottom: 100px;
                h3{
                    font-size: 33px;
                    font-weight: 400;

                }
                p{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            .local{
                display: grid;
                grid-template-columns: 3fr 4fr;
                h3{
                    font-size: 33px;
                    font-weight: 400;

                }
                p{
                    font-size: 22px;
                    margin-right: 10px;
                }
                .map{
                    justify-content: end;
                    text-align: end;
                    p{
                        margin: 0%;
                    }
                }
                img{
                    height: 336px;
                }
            }

        }
        .right-div{
            background: rgba(200, 199, 199, 0.3) fixed;
            height: 403px;
      

            margin-left: 40px;
            h1{
                font-weight: 400;
                font-size: 56px;
                text-align: left;
                padding-left: 38px;
                color: #a07f6d !important;
            }
            .pitchbtn{
                text-align: center;  
            }
            button{
                
                   
	            border-radius: 10px;
	            color: #272424a8;
                padding: 1px;
                font-size: 20px;
                border:3px solid transparent;
                width: 250px;
                height: 70px;
                background:  linear-gradient(#ecedec, #ecedecf9) padding-box fixed, 
                linear-gradient(45deg, #ba9e8e 0%, #f3c9ad 100%) border-box;
           
            }
            
        }
    }
}

@media screen and (max-width: 890px){
    .contact-container{ 
        padding: 50px 20px !important;

        .container-header{
     
        }
        .content-box{
            display: block !important;
            .left-div{
                padding-top: 40px;
                .local{
                    // display: block !important;
                    .map{
                        text-align: end !important;
                    }
                }
            
            }
            .right-div{
                margin-left: 0% !important;
            }
        }
    }   
}

@media screen and (max-width: 490px){
    .contact-container{ 
        padding: 50px 20px !important;

        .container-header{
     
        }
        .content-box{
            display: block !important;
            .left-div{
                padding-top: 40px;
                .local{
                    display: block !important;
                    .map{
                        text-align: left !important;
                        .map-frame{
                            width: 80% !important;
                            height: 300px !important;
                        }
                    }
                }
            
            }
            .right-div{
                margin-left: 0% !important;
            }
        }
    }   
>>>>>>> 1ba06054eaa345100f9c3a0514b36893de6711bf
}