

.navigation{
    height: 160px;
//    background-image: url('./../../Assets/Hero\ Section.png');
//    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    .logo-container {
        
        img{
            width: 320px;
            margin-left: 65px;
            margin-top: 25px;
            
        }
        
      }

        .nav-links-hide{
            right: 0;
        }
       
       
        .nav-links-display{
            right: -40px;
        }
        .nav-link-dnone{
            display: none;
            transition: all 1s;
        }
        .nav-link-dinline{
            display: inline;
            transition: all 1s;
        }


      .nav-links-container{
        position: absolute;
        
        margin-right: 93px;
        margin-top: 70px;
        transition: all 1s;

      

        .nav-link{
            padding-right: 40px;
            font-size: 24px;
            font-weight: 400;
            color: #848484;
            transition: all 1s;
        
              
        }

        .icon-link{
            padding-right: 40px;
            font-size: 24px;
            font-weight: 400;
            color: #848484;
            transition: all 1s;
        }
        .navlink-check-wrap{
            padding-top: 5px !important;
            opacity: 100% !important;
            .navlink-check{
            font-size: 30px !important;
            padding-right: 70px !important;
            
        }
        }
        
      }

}

@media screen and (max-width: 1290px) {

    .navigation{

        .nav-link{
            font-size: 17px !important;
        }
    }
    
}

@media screen and (max-width: 490px){
    .logo-container{
        img{
            width: 210px;
        }
    }
}