.footer-container{
    background-color: #242424;
    font-family: 'Poppins', sans-serif !important;
    z-index: 1;
    color: #ffffff;

    .footer-content-box{
        width: 70%;
        padding: 80px 180px;
        h1{
            font-weight: 500;
            font-size: 22px;
            color: #ffffff;
        }

        h3{
            font-weight: 500;
            color: #92989f;
            font-size: 18px;
        } 

        .column-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 70px;
            .mobile-col-box{
                display: grid;
                grid-template-columns: 1fr 1fr;;
            }

            .footer-links{
                // margin-right: 70px;
                line-height: 35px;
                display: flex;
                flex-direction: column;
                width: 172px;
                .footer-link{
                   color: white; 
                   font-size: 14px;
                }
                
                
            }
        }
        .hr-line{
            border: 0.5px solid #71777d;
            // margin-top: 70px;
        }

        .rights{
            font-size: 10px;
            margin: auto;
            text-align: center;
            margin-top: 30px;
        }

    }
}

@media screen and (max-width: 890px) {

    .footer-container{
        .footer-content-box{
            padding: 80px 40px !important;

            .column-box{
                display: block !important;
                .footer-links{
                    width: auto !important;
                }
                .footer-link{
                    font-size: 10px !important;
                }
                // .mobile-col-box{
                //     display: block !important;
                // }
            }
        }
    }
    
}