<<<<<<< HEAD
.landing-container{
    background-image: url('./../../Assets/Hero\ Section.png');
    background-size: cover;



    .hero-section{
        // background-image: url('./../../Assets/Hero\ Section.png');
        // background-size: cover;
        .branding-section{
            padding-left: 5%;
            padding-top: 4%;
            h1{
                font-size: 48px;
                background: linear-gradient(266.04deg, #625F66 22.91%, #848484 93.82%);
                letter-spacing: -5px;
                line-height: 55px  ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-weight: 400;

                .software{
                    background: linear-gradient(270deg, #C1A998 21.00%, #AA7E66 77.00%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                .tech{
                    background: linear-gradient(262.44deg, #9130F4 20.7%, #4646F9 96.72%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
    
            }
            p{
                font-family: 'Open Sans', 'Arial Black';
                margin-top: 35px;
                margin-bottom: 35px;
                font-size: 18px;
                width: 763px;
                color: #767474;
                line-height: 130%;
                font-weight: 400;
            }
            .gin-btn{
                
	            border-radius: 10px;
                box-sizing: border-box;
	            color: rgba(186, 158, 142, 1);
                padding: 1px;
                font-size: 18px;
                box-sizing: border-box;
                border:3px solid transparent;
                width: 210px;
                height: 60px;
                background:
                url('./../../Assets/Hero\ Section.png') padding-box fixed,
    linear-gradient(45deg, rgba(186, 158, 142, 1),
    rgba(243, 201, 173, 1)) border-box;
      
           
            }
            .gin-btn:hover{
                background:  linear-gradient(-45deg, #6a6bfa 0%, #6a6afaf3 100%) padding-box fixed,
                linear-gradient(-45deg, #b1b1b1 0%, #a9a3a0 100%) border-box;
                color: #f7f7f7;
            }

        }

        .testimonial-section{
            margin-top: 130px;
            padding-bottom: 132px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-left: 154px;
            padding-right: 154px;
            
            img{
                width: 121px;
            }
        }
    }
}

@media screen and (max-width: 890px) {

    
    .hero-section{

        .branding-section{
            h1{
                font-size: 58px !important;
                width: 80% !important;
            }
            p{
                font-size: 12px !important;
                width: 80% !important;
            }
    
        }
        .testimonial-section{
            padding-left: 40px !important;
            padding-right: 40px !important;
            img{
    
                width: 15% !important;  ;
                
            }
        }
        
    }
    
    @media screen and (max-width: 450px){
        .branding-section{
            padding-left: 8% !important;
            h1{
                font-size: 43px !important;
                letter-spacing: -3px !important;
                line-height: 50px !important;
                width: 80%;
        
        
            }
            p{
                font-size: 12px !important;
                width: 80% !important;
            }
            .gin-btn{
                font-size: 14px !important;
                width: 160px !important;
                height: 40px !important;
                border: 2px solid transparent !important;
                margin-top: 30px;
            }
        }
    
        .testimonial-section{
            padding-left: 60px !important;
            padding-right: 60px !important;
            img{
    
                width: 20% !important;
                
            }
        }
    }

}

=======
.landing-container{
    background-image: url('./../../Assets/Hero\ Section.png');
    background-size: cover;



    .hero-section{
        // background-image: url('./../../Assets/Hero\ Section.png');
        // background-size: cover;
        .branding-section{
            padding-left: 5%;
            padding-top: 4%;
            h1{
                font-size: 48px;
                background: linear-gradient(266.04deg, #625F66 22.91%, #848484 93.82%);
                letter-spacing: -5px;
                line-height: 55px  ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-weight: 400;

                .software{
                    background: linear-gradient(270deg, #C1A998 21.00%, #AA7E66 77.00%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                .tech{
                    background: linear-gradient(262.44deg, #9130F4 20.7%, #4646F9 96.72%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
    
            }
            p{
                font-family: 'Open Sans', 'Arial Black';
                margin-top: 35px;
                margin-bottom: 35px;
                font-size: 18px;
                width: 763px;
                color: #767474;
                line-height: 130%;
                font-weight: 400;
            }
            .gin-btn{
                background-image: linear-gradient(to right, rgba(186, 158, 142, 1),
                rgba(243, 201, 173, 1));
	            border-radius: 10px;
                box-sizing: border-box;
	            color: #fff2f2;
                padding: 1px;
                font-size: 18px;
                box-sizing: border-box;
                border:3px solid transparent;
                width: 210px;
                height: 60px;
                background:  linear-gradient(-45deg, #6a6bfa 0%, #6a6afaf3 100%) padding-box fixed,
                linear-gradient(-45deg, #b1b1b1 0%, #a9a3a0 100%) border-box;
           
            }

        }

        .testimonial-section{
            margin-top: 130px;
            padding-bottom: 132px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-left: 154px;
            padding-right: 154px;
            
            img{
                width: 121px;
            }
        }
    }
}

@media screen and (max-width: 890px) {

    
    .hero-section{

        .branding-section{
            h1{
                font-size: 58px !important;
                width: 80% !important;
            }
            p{
                font-size: 12px !important;
                width: 80% !important;
            }
    
        }
        .testimonial-section{
            padding-left: 40px !important;
            padding-right: 40px !important;
            img{
    
                width: 15% !important;  ;
                
            }
        }
        
    }
    
    @media screen and (max-width: 450px){
        .branding-section{
            padding-left: 8% !important;
            h1{
                font-size: 43px !important;
                letter-spacing: -3px !important;
                line-height: 50px !important;
                width: 80%;
        
        
            }
            p{
                font-size: 12px !important;
                width: 80% !important;
            }
            .gin-btn{
                font-size: 14px !important;
                width: 160px !important;
                height: 40px !important;
                border: 2px solid transparent !important;
                margin-top: 30px;
            }
        }
    
        .testimonial-section{
            padding-left: 60px !important;
            padding-right: 60px !important;
            img{
    
                width: 20% !important;
                
            }
        }
    }

}

>>>>>>> 1ba06054eaa345100f9c3a0514b36893de6711bf
