.blog-section{
    background-image: url('./../../Assets/blog-back.png') ;
    
    background-size: cover;
    background-repeat: no-repeat;

    h1{
        size: 64px;
        margin-top: 0px;
        font-weight: 400;
        padding : 80px 180px 20px;
        svg{
            position: relative;
            left : 5px;
            top: 8px
            
        }
       

    }
    .blog-view{

        margin: auto;
        padding-bottom: 60px;
       
        .top-blog-view{
            display: grid;
            grid-template-columns: 9fr 5fr;
            padding: 40px 20px 10px;
            width: 75%;
            margin: auto;

            img{
              object-fit: cover;
              height:320px;
              transition: all .2s ease-in-out;
            }
            img:hover{
                transform: scale(1.02);
                

            }
            .banner-square{
                display: flex;
                justify-content: end;
            }

        }
        .bottom-blog-view{
            width: 75%;
    
            margin: auto;
    
                display: flex;
                justify-content: space-between;
                      
            img{
                width:23% ; 
                transition: all .2s ease-in-out;
            }
            img:hover{
                transform: scale(1.03);
            }

           
        }
    }


}
.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


@media screen and (max-width: 1290px){
    .top-blog-view{
        img{
            width: 100% !important;
        }

        .banner-square{
            margin-left: 10px !important;
        }
    }
}

@media screen and (max-width: 490px){

    .blog-section{
        h1{
            padding: 80px 40px 40px !important;
        }
        .blog-view{
         
            .top-blog-view{
                display: block !important;
                img{
                    width: 100%!important;
                   
                }
                .banner-square{
                    display: block !important;
                    margin-left: 0% !important;
                    margin-top: 9px !important;
                }
                
            }
            .bottom-blog-view{
                display: block !important;
                img{
                    width: 100% !important;
                    margin-bottom: 9px !important;
                }
            }
        }
    }
  
}